# Prerequisites
*.d

# old text editor files
*~

# Qt created files
moc*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
WE_UQ
StochasticWind

# QT
*.pro.user
qcustomplot.h
qcustomplot.cpp
*.stash
debug.log
qrc_images.cpp
qrc_images1.cpp
qrc_styles.cpp

# OTHER
Makefile
Makefile.Debug
Makefile.Release
StandardEarthquakeEDP
OpenSeesInput
OpenSeesPostprocessor
OpenSeesPreprocessor
extractEDP
*.mat
*.swp
.base.git/
*.git

WE-UQ.pro.user.4.9-pre1

WE-UQ.pro.user.4.10-pre1

# Build folder
build/*
tests/WEUQ-FSI/ZOOM instructions/
userID.sh
EVENTS/DigitalWindTunnel/.DS_Store

.DS_Store
